<app-accounts-header></app-accounts-header>
<div class="hm-black-light" style="height: 100%;">
    <div class="full-bg-img flex-center">
        <div class="container">
            <div class="card">
                <div class="card-body">
                  <table class="table table-hover account-summary z-depth-5">
                      <thead class="mdb-color darken-3">
                          <tr class="text-white">
                              <th colspan="2" class="text-center">
                                  <h4>Account Summary</h4>
                              </th>
                          </tr>
                      </thead>
                      <tbody class="purple-text">
                          <tr>
                              <td>Account Name</td>
                              <td>{{accountSummary.accountHolderName}}</td>
                          </tr>
                          <tr>
                              <td>Account Number</td>
                              <td>{{accountSummary.accountNo}}</td>
                          </tr>
                          <tr>
                              <td>Branch Name</td>
                              <td>{{accountSummary.branch}}</td>
                          </tr>
                          <tr>
                              <td>Account Balance</td>
                              <td>{{accountSummary.balance}}</td>
                          </tr>
                          <tr>
                              <td>Account Type</td>
                              <td>{{accountSummary.accountType}}</td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
</div>
