<app-accounts-header></app-accounts-header>
<div class="hm-black-light" style="height: 100%;">
    <div class="full-bg-img flex-center">
        <div class="container">
            <div class="card">
                <div class="card-body">
                  <table class="table table-hover account-summary">
                      <thead class="mdb-color darken-3">
                          <tr class="text-white">
                              <th colspan="2" class="text-center">Account Summary</th>
                          </tr>
                      </thead>
                      <tbody class="grey-text">
                          <tr>
                              <td>Account Name</td>
                              <td>test</td>
                          </tr>
                          <tr>
                              <td>Account Number</td>
                              <td>test</td>
                          </tr>
                          <tr>
                              <td>Branch Name</td>
                              <td>test</td>
                          </tr>
                          <tr>
                              <td>Account Balance</td>
                              <td>test</td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
</div>
