<app-accounts-header></app-accounts-header>
<div class="hm-black-light" style="height: 100%;">
    <div class="full-bg-img flex-center">
        <form class="form-signin animated fadeInUp cobForm" style="padding-top: 12%" (ngSubmit)="transfer()">
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <!--Header-->
                    <div class="form-header default-color">
                        <h3>Fund Transfer</h3>
                    </div>
                    <!--Body-->
                    <div class="md-form">
                        <input type="text" id="fromAccount" value="{{accountSummary.accountNo}}" name="fromAccount" class="form-control" style="width: 90%" [(ngModel)]="model.fromAccount" disabled>
                    </div>
                    <div class="md-form">
                        <input type="text" id="toAccount" name="toAccount" class="form-control" style="width: 90%" [(ngModel)]="model.toAccount">
                        <label for="toAccount" class="disabled">To Account</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="amount" name="amount" class="form-control" style="width: 90%" required minlength="3" [(ngModel)]="model.amount">
                        <label for="amount">Amount</label>
                    </div>
                    <div class="md-form">
                        <textarea type="text" id="remarks" name="remarks" class="md-textarea" style="height: 50px" [(ngModel)]="model.remarks"></textarea>
                        <label for="remarks">Remarks</label>
                    </div>
                    <div class="text-center">
                        <button [disabled]="validationInProgress" class="btn btn-default waves-effect waves-light hoverable z-depth-5" type="submit">Confirm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
