<app-accounts-header></app-accounts-header>
<div class="hm-black-light" style="height: 100%;">
    <div class="full-bg-img flex-center">
        <div class="container">
            <div class="card">
                <div class="card-body">
                  <table class="table table-hover account-summary">
                      <thead>
                          <tr class="grey-text">
                              <th class="text-center">Date</th>
                              <th class="text-center">Narration</th>
                              <th class="text-center">Check/Ref.No</th>
                              <th class="text-center">Value Date</th>
                              <th class="text-center">Withdraw</th>
                              <th class="text-center">Deposit</th>
                              <th class="text-center">Balance</th>
                          </tr>
                      </thead>
                      <tbody class="grey-text">
                          <tr>
                              <td>Date</td>
                              <td>Narration</td>
                              <td>Check/Ref.No</td>
                              <td>Value Date</td>
                              <td>Withdraw</td>
                              <td>Deposit</td>
                              <td>Balance</td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
</div>
