<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-purple scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand animated bounce infinite">
          <span class="h2-responsice font-bold" style="color:#FFF">ABC</span>
          <br>
          <span class="h2-responsice font-bold" style="color:#FFF">BANK</span>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav">
            <li class="nav-item dropdown waves-light" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle waves-light" mdbRippleRadius>Account<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" [routerLink]="['/accounts/summary']"mdbRippleRadius>Summary</a>
                    <a class="dropdown-item waves-light" [routerLink]="['/accounts/viewStatement']" mdbRippleRadius>View Statement</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius>Fixed Deposit</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius>Recurring Deposit</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius>TDS Enquire</a>
                </div>
            </li>
            <li class="nav-item dropdown waves-light" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle waves-light" mdbRippleRadius>Banking<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" [routerLink]="['/banking/fundTransfer']" mdbRippleRadius>Funds Transfer</a>
                    <a class="dropdown-item waves-light" [routerLink]="['/banking/benificiary']" mdbRippleRadius>Benificiary</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius>Special Payments</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link waves-light" [routerLink]="['/cob']" mdbRippleRadius>On Boarding</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li>
            <div class="text-center">
                <button class="btn btn-default mt-1 waves-effect waves-light z-depth-2" data-toggle="modal" data-target="#basicExample" (click)="side.show()" mdbRippleRadius>
                  Logout <i class="fa fa-sign-in ml-1"></i>
                </button>
            </div>
          </li>
        </ul>
    </links>
</mdb-navbar>

<div mdbModal #side="mdb-modal" class="modal fade right" id="side" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-side modal-top-right" role="document">
        <div class="modal-content">
            <div class="modal-body">
              <p class="h6-responsice font-bold">
                Are you sure want to logout ?
              </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-light waves-effect z-depth-2" data-dismiss="modal" (click)="side.hide()" mdbRippleRadius>Cancel</button>
                <button type="button" class="btn btn-warning waves-light waves-effect z-depth-2" (click)="logout()" (click)="side.hide()" mdbRippleRadius>Confirm</button>
            </div>
        </div>
    </div>
</div>
