<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" href="#"><img class="logo" src="../../assets/images/logo.jpg" style="width: 60%"/></a>
    </logo>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
            <a class="nav-link" [routerLink]="['/aboutUs']">About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" routerLinkActive="active" mdbRippleRadius>
            <a class="nav-link" [routerLink]="['/signIn']">Sign In</a>
        </li>
      </ul>
    </links>
</mdb-navbar>
