<footer class="page-footer center-on-small-only">

    <!--Footer links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-lg-3 col-md-6 ml-auto">
                <h5 class="title mb-3"><i class="fa fa-info-circle footer-icons" aria-hidden="true"></i></h5>
                <p>NEVER respond to any popup,email, SMS or phone call, no matter how appealing or official looking,
                seeking your personal information such as username, password(s), mobile number, ATM Card details, etc.
                Such communications are sent or created by fraudsters to trick you into parting with your credentials.</p>
            </div>
            <!--/.First column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Second column-->
            <div class="col-lg-2 col-md-6 ml-auto">
                <h5 class="title mb-3"><i class="fa fa-link footer-icons" aria-hidden="true"></i></h5>
                <ul>
                    <li>
                        <a href="#!">Trouble logging in</a>
                    </li>
                    <li>
                        <a href="#!">Report Phishing</a>
                    </li>
                    <li>
                        <a href="#!">Security Tips</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Third column-->
            <div class="col-lg-2 col-md-6 ml-auto">
                <h5 class="title mb-3"><i class="fa fa-comments-o footer-icons" aria-hidden="true"></i></h5>
                <ul>
                    <li>
                        <a href="#!">Lock User Access</a>
                    </li>
                    <li>
                        <a href="#!">Block ATM Card</a>
                    </li>
                    <li>
                        <a href="#!">Password Management</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
            <hr class="w-100 clearfix d-sm-none">
            <!--Fourth column-->
            <div class="col-lg-2 col-md-6 ml-auto">
                <h5 class="title mb-3"><i class="fa fa-sitemap footer-icons" aria-hidden="true"></i></h5>
                <ul>
                    <li>
                        <a href="#!">Site Map</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <p class="mb-5">This site is certified by Verisign as a secure and trusted site. All information sent or received in this site is encrypted using 256-bit encryption</p>
        <ul>
            <li>
                <h5>Get our App downloaded here</h5></li>
            <li>
                <i class="fa fa-android" aria-hidden="true"></i>
                <a target="_blank" href="#" class="btn btn-danger" rel="nofollow"> PlayStore</a></li>
            <li>
                <i class="fa fa-apple" aria-hidden="true"></i>
                <a target="_blank" href="#" class="btn btn-default" rel="nofollow">AppStore</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="/aboutUs"> ABCBank.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
